*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    color: white;
}
:root {
    --firstColor: #183A37;
    --secondColor: #584D3D;
    --sectionMargin:5px;
}
body {
    height: 100vh;
  
}

.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.header {
    margin: var(--sectionMargin);
    grid-column: 1 / 3;
    height: 120px;
    background-color: var(--firstColor);
    position: relative;
}

.heading {
    padding: 8px;
    font-size: 55px;
    position: absolute;
    bottom: 0;
    font-family: "Rubik", sans-serif;
}

.sidebar {
    position: relative;
    grid-column:1 ;
    background-color: var(--firstColor);
    margin: var(--sectionMargin);
    display: grid;
    grid-template-rows: minmax(75vh, 1fr);
}

.user-current-book-status {
    padding: 25px 0 0 15px;
}


.total-book {
    margin-bottom: 5px;
}

.total-read-book {
    margin-bottom: 5px;
}


.add-button button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: #BC6C25;
    border-radius: 50%;
}

.add-button button svg {
    width: 90px;
}

.add-button button:hover {
    background-color: #584D3D;
}

.add-button button:active {
    opacity: .7;
}

dialog {
    background-color: #584D3D;
    height: 62vh;
    width: 30vw;
    position: relative;
}

.dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}


.form-row input[type="text"],
.form-row input[type="number"] {
    color: black;
    padding: 5px;
    font-size: 1.1rem;
    width: 250px;
    height: inherit;
}

.form-row label {
   font-size: 1.1rem;
}

form {
    padding: 15px 0 0 30px;
}
form div {
    margin-bottom: 12px;
}

.dialog-button button:first-child {
    margin-left: 145px;
    font-size: 20px;
    padding: 7px;
    width: 120px;
    border-radius: 15px;
    background-color: var(--firstColor);

}

.dialog-button button:last-child {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    font-size: 25px;
    background-color: var(--firstColor);
}

.card-container {
    grid-column: 2;
    margin: var(--sectionMargin);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.card div p:first-child{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    padding-bottom: 3px;
}

.card div p:last-child {
    padding-left: 21px;
}

.card {
    height: 255px;
    padding: 8px;
    background-color: var(--secondColor);
}

.card div {
    margin-bottom: 8px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.button button {
    font-size: 20px;
    padding: 7px;
    width: 120px;
    border-radius: 15px;
    background-color: var(--firstColor);
}

